.form {
  background-color: var(--accent-color);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include tablet {
      display: block;
      text-align: center;
    }
  }

  &__left {
    grid-column: 5 span;
    padding-top: 106px;

    @include mobile {
      padding-top: 40px;
    }
  }

  &__right {
    grid-column: 7 span;
    padding-top: 87px;

    @include mobile {
      padding-top: 40px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: var(--light-color);

    @include mobile {
      font-size: 30px;
      line-height: 42px;
    }
  }

  &__descr {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--light-color);

    @include mobile {
      margin-top: 10px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__form {
    margin: 0;
  }

  &__input {
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    width: 500px;
    height: 64px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    &:focus {
      outline: none;
    }

    @include tablet {
      margin: 0 auto;
    }

    @include mobile {
      width: 300px;
      height: 60px;
      padding: 17px 20px;
    }
  }

  &__label {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
    width: 100%;
  }

  &__btn {
    margin: 0;
    width: 500px;
    height: 64px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--light-color);
    background-color: var(--dark-color);

    @include mobile {
      width: 300px;
      height: 60px;
      margin-bottom: 40px;
      padding: 19px;
      font-size: 16px;
      line-height: 23px;
    }
  }

  &__bottom-picture {
    @include mobile {
      display: none;
    }
  }

  .just-validate-error-label {
    color: var(--light-color) !important;
  }
}
