.price {
  &__container {
    padding: 100px 0;

    @include mobile {
      padding: 60px 0;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include big-tablet {
      gap: 20px;
    }

    @include mobile {
      gap: 0px;
    }
  }

  &__item {
    grid-column: 4 span;

    @include big-tablet {
      @include flex-all-center;
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 12 span;
    }
  }

  &__card {
    margin: 0;
    margin-top: 20px;
    width: 360px;
    height: 460px;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;
    text-align: center;
    color: var(--dark-color);

    @include mobile {
      width: 300px;
      height: 394px;
    }

    &-title {
      @include flex-all-center;
      margin: 0;
      padding-top: 40px;
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;

      &::after{
        content: '';
        display: block;
        margin: 0 10px;
        width: 20px;
        height: 3px;
        background-color: currentColor;
      }

      &::before{
        content: '';
        display: block;
        margin: 0 10px;
        width: 20px;
        height: 3px;
        background-color: currentColor;
      }
    }

    &-price {
      margin: 0;
      padding-top: 63px;
      font-weight: 600;
      font-size: 50px;
      line-height: 80px;

      @include mobile {
        padding-top: 40px;
      }
    }

    &-descr {
      margin: 0;
      padding-top: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;

      @include mobile {
        font-size: 16px;
        line-height: 26px;
      }
    }

    &-btn {
      margin: 0;
      margin-top: 61px;
      padding: 25px 78px;
      border: none;

      @include mobile {
        padding: 16px 68px;
        margin-top: 40px;
      }
    }
  }

  &__first-card {
    margin: 0;
    height: 500px;
    background-color: var(--dark-color);
    color: var(--light-color);
    // transform: scaleY(1.1);

    @include mobile {
      height: 420px;
    }
  }
}