.trainers {

  &__container {
    padding-top: 100px;
  }

  &__wrapper {
    padding-left: max(15px, calc((100% - var(--content-width)) / 2));
  }

  &__subtitle {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: var(--dark-color);
  }

  &__dscr {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: var(--text-color);
  }

  &__btn {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: var(--accent-color);
  }

  &__img {
    border-radius: 20px;
    max-width: 360px;
    max-height: 500px;
  }

  &__scroll-btns {
    @include flex-all-sb;
    margin: 0;
    margin-top: 77px;
    margin-bottom: 100px;
  }

  &__scroll {
    border-radius: 40px;
    width: 360px;
    height: 5px;
    background-color: rgba(20, 16, 36, 0.08); 
  }
}
