:root {
  --font-family: "Jost", sans-serif;
  --content-width: 1160px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1790px;
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #d52027;
  --dark-color: #141024;
  --text-color: rgba(20, 16, 36, 0.7);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.page__title {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  color: var(--dark-color);
}
@media (max-width: 1000px) {
  .page__title {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .page__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 136px;
    height: 13px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 1000px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.nav__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  color: var(--light-color);
}
@media (max-width: 1000px) {
  .nav__link {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
  }
}
@media (max-width: 1000px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: var(--light-color);
}
@media (max-width: 600px) {
  .phone {
    font-size: 16px;
    line-height: 26px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  color: var(--light-color);
  line-height: 160%;
  background-color: var(--accent-color);
  padding: 27px 54px;
}

.burger {
  display: none;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 44px;
  height: 44px;
}
.burger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100px;
  width: 26px;
  height: 2px;
  background-color: var(--light-color);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.burger__line:first-child {
  margin-top: -7px;
}
.burger__line:last-child {
  left: 9px;
  margin-top: 7px;
  width: 13px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 1000px) {
  .burger {
    display: block;
  }
}

.burger-close {
  display: none;
  position: absolute;
  top: 30px;
  right: var(--container-offset);
  border: 1px solid rgba(255, 255, 255, 0.088);
  border-radius: 10px;
  width: 44px;
  height: 44px;
  background-image: url(../../img/close.png);
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  .burger-close {
    display: block;
  }
}

.tooltip {
  margin-left: 10px;
}
.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: rgba(20, 16, 36, 0.08);
}
.tooltip__btn svg {
  width: 4px;
  height: 14px;
}
.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    opacity: 1;
    visibility: visible;
  }
}
.tooltip__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 2px rgba(20, 16, 36, 0.1);
  box-shadow: 0px 2px rgba(20, 16, 36, 0.1);
  border-radius: 8px;
  padding: 10px;
  width: 251px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: --dark-color;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -ms-transform: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transform: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
}
.social__link svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--dark-color);
  -o-object-fit: cover;
  object-fit: cover;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
}
@media (max-width: 1000px) {
  .header__phone {
    font-size: 0;
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    background-image: url(../../img/svg/phone.svg);
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}

.hero {
  padding-top: 160px;
  min-height: 800px;
  background-color: var(--dark-color);
}
@media (max-width: 600px) {
  .hero {
    min-height: none;
    padding-top: 55px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 600px) {
  .hero__container {
    position: relative;
    text-align: center;
    display: block;
  }
}
@media (max-width: 1000px) {
  .hero__girl {
    display: none;
  }
}
@media (max-width: 600px) {
  .hero__girl {
    display: block;
    margin: 0 auto;
    width: 273px;
    height: 320px;
  }
}
.hero__title {
  margin: 0;
  padding-top: 80px;
  min-width: 516px;
  font-weight: 600;
  font-size: 70px;
  line-height: 112px;
  text-transform: uppercase;
  color: var(--light-color);
}
@media (max-width: 600px) {
  .hero__title {
    min-width: 100px;
    font-size: 30px;
    line-height: 48px;
    padding-top: 101px;
  }
}
.hero__text {
  padding-top: 20px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: initial;
  max-width: 478px;
  color: var(--light-color);
}
@media (max-width: 1000px) {
  .hero__text {
    max-width: none;
  }
}
@media (max-width: 600px) {
  .hero__text {
    padding-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 600px) {
  .hero__btn {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-10%);
    -ms-transform: translateX(-50%) translateY(-10%);
    transform: translateX(-50%) translateY(-10%);
    width: 300px;
    height: 60px;
  }
}

.about {
  margin: 0;
}
.about__container {
  padding: 120px 0;
}
@media (max-width: 600px) {
  .about__container {
    padding: 60px 0;
  }
}
.about__title {
  margin: 0;
  margin-bottom: 60px;
  max-width: 891px;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
}
@media (max-width: 1000px) {
  .about__title {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .about__title {
    font-size: 20px;
    line-height: 32px;
    padding: 0 10px;
  }
}
.about__title-high-text {
  font-weight: 600;
}
.about__column {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 600px) {
  .about__column {
    gap: 0;
  }
}
.about__column-item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1200px) {
  .about__column-item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .about__column-item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.about__column-title {
  margin: 0;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 70px;
  line-height: 112px;
}
@media (max-width: 600px) {
  .about__column-title {
    font-size: 60px;
    line-height: 87px;
  }
}
.about__column-descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--text-color);
}
@media (max-width: 1000px) {
  .about__column-descr {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .about__column-descr {
    padding: 0 10px;
    font-size: 16px;
    line-height: 26px;
  }
}

.adventage {
  background-color: #F9F9F9;
}
.adventage__container {
  padding: 100px 0;
}
@media (max-width: 600px) {
  .adventage__container {
    padding: 60px 0;
  }
}
.adventage__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 600px) {
  .adventage__column {
    gap: 0;
  }
}
.adventage__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1200px) {
  .adventage__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .adventage__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.adventage__digit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--dark-color);
}
@media (max-width: 1000px) {
  .adventage__digit {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .adventage__digit {
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 32px;
  }
}
.adventage__descr {
  margin: 0;
  font-weight: 400;
  font-style: 18px;
  line-height: 29px;
  color: var(--text-color);
}
@media (max-width: 1000px) {
  .adventage__descr {
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .adventage__descr {
    padding: 0 10px;
    font-style: 16px;
    line-height: 26px;
  }
}

.trainers__container {
  padding-top: 100px;
}
@media (max-width: 600px) {
  .trainers__container {
    padding-top: 60px;
  }
}
.trainers__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.trainers .swiper-slide {
  width: 360px;
}
@media (max-width: 600px) {
  .trainers .swiper-slide {
    width: 220px;
  }
}
.trainers__subtitle {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--dark-color);
}
@media (max-width: 600px) {
  .trainers__subtitle {
    font-size: 20px;
    line-height: 32px;
  }
}
.trainers__dscr {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--text-color);
}
@media (max-width: 600px) {
  .trainers__dscr {
    font-size: 14px;
    line-height: 22px;
  }
}
.trainers__btn {
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-color);
}
@media (max-width: 600px) {
  .trainers__btn {
    font-size: 16px;
    line-height: 26px;
  }
}
.trainers__img {
  border-radius: 20px;
  max-width: 360px;
  max-height: 500px;
}
@media (max-width: 600px) {
  .trainers__img {
    max-width: 220px;
    max-height: 306px;
  }
}
.trainers__scroll-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 77px;
}
.trainers__scroll {
  border-radius: 40px;
  width: 360px;
  height: 5px;
  background-color: rgba(20, 16, 36, 0.08);
}
@media (max-width: 600px) {
  .trainers__btns {
    display: none;
  }
}

.price__container {
  padding: 100px 0;
}
@media (max-width: 600px) {
  .price__container {
    padding: 60px 0;
  }
}
.price__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 1200px) {
  .price__nav {
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .price__nav {
    gap: 0px;
  }
}
.price__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1200px) {
  .price__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 600px) {
  .price__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.price__card {
  margin: 0;
  margin-top: 20px;
  width: 360px;
  height: 460px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 600px) {
  .price__card {
    width: 300px;
    height: 394px;
  }
}
.price__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding-top: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}
.price__card-title::after {
  content: "";
  display: block;
  margin: 0 10px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.price__card-title::before {
  content: "";
  display: block;
  margin: 0 10px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.price__card-price {
  margin: 0;
  padding-top: 63px;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
}
@media (max-width: 600px) {
  .price__card-price {
    padding-top: 40px;
  }
}
.price__card-descr {
  margin: 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
@media (max-width: 600px) {
  .price__card-descr {
    font-size: 16px;
    line-height: 26px;
  }
}
.price__card-btn {
  margin: 0;
  margin-top: 61px;
  padding: 25px 78px;
  border: none;
}
@media (max-width: 600px) {
  .price__card-btn {
    padding: 16px 68px;
    margin-top: 40px;
  }
}
.price__first-card {
  margin: 0;
  height: 500px;
  background-color: var(--dark-color);
  color: var(--light-color);
}
@media (max-width: 600px) {
  .price__first-card {
    height: 420px;
  }
}

.form {
  background-color: var(--accent-color);
}
.form__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 1000px) {
  .form__container {
    display: block;
    text-align: center;
  }
}
.form__left {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
  padding-top: 106px;
}
@media (max-width: 600px) {
  .form__left {
    padding-top: 40px;
  }
}
.form__right {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  padding-top: 87px;
}
@media (max-width: 600px) {
  .form__right {
    padding-top: 40px;
  }
}
.form__title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: var(--light-color);
}
@media (max-width: 600px) {
  .form__title {
    font-size: 30px;
    line-height: 42px;
  }
}
.form__descr {
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--light-color);
}
@media (max-width: 600px) {
  .form__descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }
}
.form__form {
  margin: 0;
}
.form__input {
  margin: 0;
  margin-bottom: 10px;
  padding: 20px;
  width: 500px;
  height: 64px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.form__input:focus {
  outline: none;
}
@media (max-width: 1000px) {
  .form__input {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .form__input {
    width: 300px;
    height: 60px;
    padding: 17px 20px;
  }
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}
.form__btn {
  margin: 0;
  width: 500px;
  height: 64px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--light-color);
  background-color: var(--dark-color);
}
@media (max-width: 600px) {
  .form__btn {
    width: 300px;
    height: 60px;
    margin-bottom: 40px;
    padding: 19px;
    font-size: 16px;
    line-height: 23px;
  }
}
@media (max-width: 600px) {
  .form__bottom-picture {
    display: none;
  }
}
.form .just-validate-error-label {
  color: var(--light-color) !important;
}

.footer {
  background-color: var(--dark-color);
}
.footer__container {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer__container {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
.footer__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: var(--light-color);
}
@media (max-width: 600px) {
  .footer__title {
    font-size: 18px;
    line-height: 18px;
  }
}
.footer__copy {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-color);
}
@media (max-width: 600px) {
  .footer__copy {
    position: absolute;
    left: 50%;
    bottom: 10%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 22px;
  }
}

.graph-modal__close {
  margin: 40px;
}

.modal {
  padding: 40px;
}
.modal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.modal__bottom-content {
  padding-top: 20px;
  max-height: 250px;
}
.modal__image {
  margin-right: 40px;
}
@media (max-width: 600px) {
  .modal__image {
    margin: auto 10px auto 0px;
  }
}
.modal__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--dark-color);
}
.modal__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--text-color);
}
.modal__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--dark-color);
}
.modal__info {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--dark-color);
}
.modal .simplebar-track.simplebar-vertical {
  background-color: rgba(20, 16, 36, 0.08);
  margin: 20px 0;
  width: 5px;
  border-radius: 40px;
}
.modal .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  border-radius: 40px;
  width: 5px;
  background-color: var(--dark-color);
  opacity: 1;
}

.tabs__menu {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
}
.tabs__nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 70%;
}
@media (max-width: 600px) {
  .tabs__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.tabs__nav-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--dark-color);
}
.tabs__nav-btn:focus {
  background-color: transparent;
  color: var(--accent-color);
}
.tabs__nav-btn--active {
  outline: none;
  background-color: transparent;
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */