:root {
  --font-family: "Jost", sans-serif;
  --content-width: 1160px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1790px;
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #d52027;
  --dark-color: #141024;
  --text-color: rgba(20, 16, 36, 0.7);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.page__title {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  color: var(--dark-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  color: var(--light-color);
}

.phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: var(--light-color);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  color: var(--light-color);
  line-height: 160%;
  background-color: var(--accent-color);
  padding: 27px 54px;
}

.tooltip {
  margin-left: 10px;
}
.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: rgba(20, 16, 36, 0.08);
}
.tooltip__btn svg {
  width: 4px;
  height: 14px;
}
.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    opacity: 1;
    visibility: visible;
  }
}
.tooltip__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 2px rgba(20, 16, 36, 0.1);
  box-shadow: 0px 2px rgba(20, 16, 36, 0.1);
  border-radius: 8px;
  padding: 10px;
  width: 251px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: --dark-color;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -ms-transform: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transform: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero {
  padding-top: 160px;
  min-height: 800px;
  background-color: var(--dark-color);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__content {
  min-width: 516px;
  padding-top: 150px;
}
.hero__girl {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
.hero__title {
  margin: 0;
  font-weight: 600;
  font-size: 70px;
  line-height: 112px;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero__title-text {
  padding-top: 20px;
  margin-bottom: 50px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: initial;
  max-width: 478px;
}

.about {
  margin: 0;
}
.about__container {
  padding: 120px 0;
}
.about__title {
  margin: 0;
  margin-bottom: 60px;
  max-width: 891px;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
}
.about__title-high-text {
  font-weight: 600;
}
.about__column {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.about__column-item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.about__column-title {
  margin: 0;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 70px;
  line-height: 112px;
}
.about__column-descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--text-color);
}

.adventage {
  background-color: #F9F9F9;
}
.adventage__container {
  padding: 100px 0;
}
.adventage__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.adventage__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.adventage__digit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--dark-color);
}
.adventage__descr {
  margin: 0;
  font-weight: 400;
  font-style: 18px;
  line-height: 29px;
  color: var(--text-color);
}
.trainers__container {
  padding-top: 100px;
}
.trainers__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.trainers__subtitle {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--dark-color);
}
.trainers__dscr {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--text-color);
}
.trainers__btn {
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-color);
}
.trainers__img {
  border-radius: 20px;
  max-width: 360px;
  max-height: 500px;
}
.trainers__scroll-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 77px;
}
.trainers__scroll {
  border-radius: 40px;
  width: 360px;
  height: 5px;
  background-color: rgba(20, 16, 36, 0.08);
}

.price__container {
  padding: 100px 0;
}
.price__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.price__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.price__card {
  margin: 0;
  margin-top: 20px;
  width: 360px;
  height: 460px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  text-align: center;
  color: var(--dark-color);
}
.price__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding-top: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}
.price__card-title::after {
  content: "";
  display: block;
  margin: 0 10px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.price__card-title::before {
  content: "";
  display: block;
  margin: 0 10px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.price__card-price {
  margin: 0;
  padding-top: 63px;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
}
.price__card-descr {
  margin: 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
.price__card-btn {
  margin: 0;
  margin-top: 61px;
  padding: 25px 78px;
  border: none;
}
.price__first-card {
  margin: 0;
  height: 500px;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.form {
  background-color: var(--accent-color);
}
.form__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.form__left {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
  padding-top: 106px;
}
.form__right {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
  padding-top: 87px;
}
.form__title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: var(--light-color);
}
.form__descr {
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--light-color);
}
.form__form {
  margin: 0;
}
.form__input {
  margin: 0;
  margin-bottom: 10px;
  padding: 20px;
  width: 500px;
  height: 64px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.form__input:focus {
  outline: none;
}
.form__btn {
  margin: 0;
  width: 500px;
  height: 64px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.footer {
  background-color: var(--dark-color);
}
.footer__container {
  padding: 40px 0;
}
.footer__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: var(--light-color);
}
.footer__phone {
  margin-left: 55%;
}
.footer__copy {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-color);
}
/*# sourceMappingURL=main.css.map */