<section class="about" id="about">
  <div class="container about__container">
    <p class="about__title">
      <span class="about__title-high-text">Robo School</span> – учреждение для формирования кадрового педагогического резерва в сфере робототехники и программирования
    </p>
    <ul class="list-reset about__column">
      <li class="about__column-item">
        <div class="about__column-title">10</div>
        <p class="about__column-descr">УМК по различным направлениям по робототехнике</p>
      </li>
      <li class="about__column-item">
        <div class="about__column-title">20</div>
        <p class="about__column-descr">Школ, в которых запущена робототехника</p>
      </li>
      <li class="about__column-item">
        <div class="about__column-title">100</div>
        <p class="about__column-descr">Педагогов прошедших курсы повышения квалификации</p>
      </li>
      <li class="about__column-item">
        <div class="about__column-title">10 000</div>
        <p class="about__column-descr">Обученных детей на базе собственных центров</p>
      </li>
    </ul>
  </div>
</section>
