<section class="adventage">
  <div class="container adventage__container">
    <h2 class="page__title">Что вы получите после курса</h2>
    <ul class="list-reset adventage__column">
      <li class="adventage__item">
        <h3 class="adventage__digit">Удостверение</h3>
        <p class="adventage__descr">Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях</p>
      </li>
      <li class="adventage__item">
        <h3 class="adventage__digit">Знания</h3>
        <p class="adventage__descr">По основам разработки учебно-методических комплексов по робототехнике и программированию</p>
      </li>
      <li class="adventage__item">
        <h3 class="adventage__digit">Практику
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="adventage__tooltip">
              <svg class="">
                <use xlink:href="img/sprite.svg#i"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="adventage__tooltip">
              <span class="visually-hidden">Тултип: </span>
              При наличии свободных мест
            </span>
          </span>
        </h3>
        <p class="adventage__descr">Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)</p>
      </li>
    </ul>
  </div>
</section>