<section class="form" id="form">
  <div class="container form__container">
    <div class="form__left">
      <h2 class="form__title">Запишитесь на курс со скидкой 10%</h2>
      <p class="form__descr">Акция действительна до 10 марта 2022 года</p>
    </div>
    <div class="form__right">
      <form action="#" class="form form__form">
        <label class="form__label" for="name">
          <input type="text" name="Имя" id="name" class="input-reset form__input input-name" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="number" name="Телефон" class="input-reset form__input input-tel" placeholder="Телефон">
        </label>
        <label class="form__label">
          <input type="email" name="Email" class="input-reset form__input input-email" placeholder="E-mail">
        </label>
        <button class="btn-reset form__btn">Оформить заявку</button>
      </form>
    </div>
  </div>
  <picture class="form__bottom-picture">
    <source srcset="../img/precent.png" type="image/webp">
    <img loading="lazy" src="../img/precent.png" class="image" width="100%" height="" alt="">
  </picture>
</section>
