<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Robo School</h1>
      <p class="hero__text">Курсы повышения квалификации по робототехнике для педагогов начальной школы</p>
      <a href="#" class="hero__link hero__btn btn" data-scroll>Записаться на курс</a>
    </div>
    <picture class="hero__girl">
      <source srcset="../img/bannerGirl.webp" type="image/webp">
      <img loading="lazy" src="../img/bannerGirl.png" class="image" width="783" height="917" alt="banner-girl">
    </picture>
  </div>
</section>
