<section class="price" id="price">
  <div class="container price__container">
    <h2 class="page__title">Выберите нужный пакет</h2>
    <ul class="list-reset price__nav">
      <li class="price__item">
        <div class="price__card price__first-card">
          <h2 class="price__card-title">PRO</h2>
          <h2 class="price__card-price">20.000 ₽</h2>
          <p class="price__card-descr">УМК по робототетхнике и программированию</p>
          <button class="btn price__card-btn">Оставить заявку</button>
        </div>
      </li>
      <li class="price__item">
        <div class="price__card">
          <h2 class="price__card-title">ROBO</h2>
          <h2 class="price__card-price">15.000 ₽</h2>
          <p class="price__card-descr">УМК по робототетхнике </p>
          <button class="btn price__card-btn">Оставить заявку</button>
        </div>
      </li>
      <li class="price__item">
        <div class="price__card">
          <h2 class="price__card-title">PROG</h2>
          <h2 class="price__card-price">10.000 ₽</h2>
          <p class="price__card-descr">УМК по программированию</p>
          <button class="btn price__card-btn">Оставить заявку</button>
        </div>
      </li>
    </ul>
  </div>
</section>