<section class="trainers" id="tariners">
  <div class="container trainers__container">
    <h2 class="page__title">Профессиональные тренеры</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="../img/trainer1.webp" type="image/webp" class="trainers__img">
              <img loading="lazy" src="../img/trainer1.jpg" class="image trainers__img" width="360" height="500" alt="">
            </picture>
            <h3 class="trainers__subtitle">Ирина Лайм</h3>
            <p class="trainers__dscr">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="trainer1">Подробнее</button>
          </div>
        </div>
        
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="../img/trainer2.webp" type="image/webp" class="trainers__img">
              <img loading="lazy" src="../img/trainer2.jpg" class="image trainers__img" width="360" height="500" alt="">
            </picture>
            <h3 class="trainers__subtitle">Марина Орлова</h3>
            <p class="trainers__dscr">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="trainer1">Подробнее</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="../img/trainer3.webp" type="image/webp" class="trainers__img">
              <img loading="lazy" src="../img/trainer3.jpg" class="image trainers__img" width="360" height="500" alt="">
            </picture>
            <h3 class="trainers__subtitle">Максим Петров</h3>
            <p class="trainers__dscr">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="trainer1">Подробнее</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="../img/trainer4.webp" type="image/webp" class="trainers__img">
              <img loading="lazy" src="../img/trainer4.jpg" class="image trainers__img" width="360" height="500" alt="">
            </picture>
            <h3 class="trainers__subtitle">Константин Назаров</h3>
            <p class="trainers__dscr">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="trainer1">Подробнее</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="../img/trainer5.webp" type="image/webp" class="trainers__img">
              <img loading="lazy" src="../img/trainer5.jpg" class="image trainers__img" width="360" height="500" alt="">
            </picture>
            <h3 class="trainers__subtitle">Лиза Весенняя</h3>
            <p class="trainers__dscr">преподаватель по робототехнике</p>
            <button class="btn-reset trainers__btn" data-graph-path="trainer1">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__scroll-btns">
      <div class="trainers__scroll"></div>
      <div class="tariners__btns">
        <button class="btn-reset tariners__prev" aria-label="prev"> <img loading="lazy" src="../img/svg/prev.svg" class="image" width="30" height="30" alt="prevBtn"> </button>
        <button class="btn-reset tariners__next" aria-label="next"> <img loading="lazy" src="../img/svg/next.svg" class="image" width="30" height="30" alt="nextBtn"> </button>
      </div>
    </div>
  </div>
</section>
